*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #fff;
}

header{
    padding: 40px;
    height: 200px;
}

.nav{
    margin: 30px;
    padding: 60px;
    display: flex;
    align-items: center;

    margin-left: 300px;
    margin-right: 300px;
}
.web-name{
    flex: 1;
}
.logo{
    float: right;
    position: relative;
    height: 80px;
    
    max-width: 100px;
    margin-left: 10px;
}

hr{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: -60px;
}

.nav-bar{
    align-items: center;
    margin-left: 500px;
    margin-top: 30px;
}
.nav-bar a{
    text-decoration: none;
    color: black;
    text-decoration: none;
    transition: 0.25s ease;
}
.nav-bar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.nav-bar ul li{
    text-decoration: none;
    margin: 0 0.75em 0 0.75em;
}
.nav-bar ul:hover a{
    color: #484141;
}
.nav-bar ul:hover a:hover{
    color: #337d8a;
    box-shadow: 0 2px 0 0 currentColor;
}



main{
    align-items: center;
    
    padding-top: 100px;
    padding-bottom: 30px;
    
}
.title{
    text-align: center;
    color: #887159;
}
form{
    margin: 0 auto;
    width: 400px;
    padding: 20px;
}

label{
    display: block;
    margin-left: 10px;
    margin-top: 10px;
}
input, .in2{
    width: 955px;
    height: 40px;
    border: 3px solid black; 
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.submit{
    float: right;
    border: none;
    border-radius: 0px;
    margin-top: 20px;
    background-color: transparent;
}
.submit a{
    text-decoration: none;
    color: #fff;
}



.bottom{
    text-align: center;
    margin: 100px;
    margin-bottom: -10px;
}
.link i{
    margin-right: 20px;
    padding: 50px;
}



footer{
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 30px;
}
.social-footer{
    margin-top: 100px;

    justify-content: center;
    align-items: center;
    text-align: center;
}
.social-footer i{
    margin-bottom: 30px;
}